# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

urls = [
    'https://raw.githubusercontent.com/camilla-scandola/lab-dw-data-cleaning-and-formatting/refs/heads/main/cleaned_dataset.csv',
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv',
    'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
]

dfs = []
for url in urls:
    df = pd.read_csv(url)
    # standardize column names
    df = df.rename(columns={
    'ST': 'State',})
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    dfs.append(df)

df_combined = pd.concat(dfs, ignore_index=True)

print(df_combined.shape)
print(df_combined.head())

(9020, 11)
  customer       state gender             education customer_lifetime_value  \
0  QZ44356     Arizona      F              Bachelor                  697953
1  AI49188      Nevada      F              Bachelor                 1288743
2  WW63253  California      M              Bachelor                  764586
3  GA49547  Washington      M  High School Or Below                  536307
4  OC83172      Oregon      F              Bachelor                  825629

   income  monthly_premium_auto number_of_open_complaints     policy_type  \
0       0                  94.0                         0   Personal Auto
1   48767                 108.0                         0   Personal Auto
2       0                 106.0                         0  Corporate Auto
3   36357                  68.0                         0   Personal Auto
4   62902                  69.0                         0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car              1131.0
1   Two-Door Car               566.0
2            Suv               529.0
3  Four-Door Car                17.0
4   Two-Door Car               159.0

In [2]:
df_combined.isnull().sum()

customer                     0
state                        0
gender                       5
education                    0
customer_lifetime_value      4
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In this case, I will apply the mode to the gender column, as I need to fill 5 cells and it won't throw off the stats of the dataset. Same for the customer value column, I will replace the null values with the mean

In [3]:
df_combined['gender'] = df_combined['gender'].fillna(df_combined['gender'].mode()[0])

In [4]:
#adding def from my previous lab
def clean_customer_lifetime_value(df):
    """remove % sign and convert to float"""
    if 'customer_lifetime_value' in df.columns:
        df['customer_lifetime_value'] = df['customer_lifetime_value'].str.strip().str.rstrip('%').astype(float)
        
        #fill missing values with mean
        df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(
            df['customer_lifetime_value'].mean()
        )
    return df

df_combined = clean_customer_lifetime_value(df_combined)

In [5]:
df_combined.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [6]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [7]:
#no null values
df.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [8]:
#no duplicates
df.duplicated().sum()

np.int64(0)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [9]:
pivot_df = df.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum')
pivot_df = pivot_df.round(2)
print(pivot_df)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [10]:
pivot_2 = pivot_2 = df.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean').round(2)
print(pivot_2)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [12]:
complaints_summary = df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()
print(complaints_summary)

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817